name: Release

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write # required for Trusted Publishing

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4

      - name: Set Git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm ci

      - name: Build new version
        run: |
          npm version from-git --no-git-tag-version
          npm run build

      # Nerest uses Trusted Publishing instead of regular tokens
      # https://docs.npmjs.com/trusted-publishers
      - name: Publish version
        run: npm publish --provenance
